button, .button {
  display: inline-block;
  box-shadow: $shadow-dp1;
  font-size: 1rem;
  text-transform: uppercase;
  @extend %semibold;
  border-radius: $radius-dp-1;
  color: $white;
  background-color: $blue;
  padding: 1rem;
  margin: $main-step+10px $main-step - 5px;
  text-align: center;
  min-width: 160px;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  &:hover {
    transition: $ease-25;
    box-shadow: $shadow-dp3;
    background-color: $blue-200;
    color: $white;
  }
  &:active {
    box-shadow: $shadow-dp1;
  }
  &.secondary {
    background-color: $black-200;
    &:hover {
      background-color: lighten($black-200, 5%);
    }
  }
  @media screen and (max-width: 600px) {
    margin: 20px auto;
    display: block;
  }
}
.hamburger {
  display: none;
  position: absolute;
  left: 20px; top: 0; bottom: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  cursor: pointer;
  box-sizing: content-box;
  padding: 10px;
  transition: $ease-25;

  /*&:hover {
    background-color: $red-200;
  }*/

  @media screen and (max-width: 1024px) {
    display: block;
  }

  .line {
    display: block;
    width: 24px;
    height: 2px;
    background-color: $white;
    margin: 4px auto;
    transition: all .15s ease-in-out;
    &:first-child {
      margin-top: 5px;
    }
  }
  &.is-active {
    .line {
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}
.slick-dots {
  margin: 4px auto;
  padding: 0;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  margin: 4px auto;
  text-align: center;
}
.slick-active button {
  background-color: $white !important;
}
.slick-dots button {
  display: inline-block;
  width: 12px;
  min-width: auto;
  height: 12px;
  border-radius: 100%;
  box-shadow: none;
  padding: 4px;
  font-size: 0;
  background-color: transparent;
  border: 1px solid $white;
  margin: 0 4px;
  transition: $transition-15ms;

  &:hover {
    background-color: $white;
    opacity: .8;
  }
}