.divider {
  width: 100%;
  max-width: 100%;
  box-shadow: $shadow-dp1;
  background-color: $white;
  padding: $standart-box-padding;
  color: $base-black;
  border-radius: $radius-dp-1;
  transition: $transition-15ms;
  margin-bottom: 30px;
  text-align: center;
  &:hover {
    box-shadow: $shadow-dp3;
  }
  h6 {
    color: $base-black;
  }
  p {
    font-size: .85rem;
  }
}

.stats {

  &-container {
    width: 100%;
    margin-top: 16px;
    padding: $standart-box-padding - 12px;
    padding-bottom: 0;

    .row {
      margin: 0 auto;
      max-width: 1200px;
      height: 480px;
      align-items: flex-end;
      overflow: visible;
      flex-grow: 1;
      @media screen and (max-width: 640px) {
        height: auto;
      }
    }

    .stat {
      display: flex;
      flex-grow: 1;
      position: relative;
      background-color: $red-200;
      box-shadow: $shadow-dp2;
      border-radius: $radius-dp-1 $radius-dp-1 0 0;
      z-index: 2;
      transition: all ease .25s;
      &:hover {
        box-shadow: $shadow-dp4;
        z-index: 4;
      }

      @media screen and (max-width: 640px) {
        border-radius: 0;
        height: 50px !important;
        flex-grow: 0;
        box-shadow: none;
      }

      &-count {
        position: absolute;
        bottom: -58px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
        width: 100%;
        height: 60px;
        border-radius: $radius-dp-1;
        z-index: 1;
        box-shadow: $shadow-dp1;
        @extend %regular;
        color: $red;
        font-size: 1.6rem;

        @media screen and (max-width: 640px) {
          left: auto;
          right: -50px;
          bottom: 0;
          width: 50px;
          height: 50px;
          z-index: 2;
          border-radius: 0;
          font-size: 1rem;
          text-align: right;
          border-left: none;
          background-color: transparent;
          box-shadow: none;
        }

        p {
          @media screen and (max-width: 640px) {
            text-align: right;
            width: 100%;
            margin: 0;
            color: black;
          }
        }
      }

      &-name {
        position: absolute;
        width: 100%;
        height: 35px;
        bottom: 0;
        left: 0;
        padding: 8px 0;
        text-align: center;
        span {
          text-transform: uppercase;
          font-size: 1.2rem;
          color: $white;
          @extend %light;
        }
      }
      &-img {
        width: 80px;
        height: auto;
        min-height: 50px;

        @media screen and (max-width: 640px) {
          position: absolute;
          left: 10px;
          top: 5px;
          bottom: 0;
          width: 40px;
          height: 40px;
          min-height: 40px;
          border-right: 0;
          overflow: hidden;
        }

        svg {
          fill: $gr100 !important;
          @media screen and (max-width: 640px) {
            height: 40px !important;
            width: auto !important;
          }
        }
        .gr100-fill {
          fill: $gr100 !important;
        }
        .gr200-fill {
          fill: $gr200 !important;
        }
        .gr300-fill {
          fill: $gr300 !important;
        }
        .gr400-fill {
          fill: $gr400 !important;
        }
        .gr900-fill {
          fill: $gr900 !important;
        }
        .red-fill {
          fill: $red !important;
        }
        .transparent-fill {
          fill: transparent !important;
        }
      }



    }
  }

  &-box {
    position: relative;
    height: 100%;
    align-items: flex-end;
    flex-grow: 1;
    transition: $transition-15ms;
    margin-bottom: $main-step;

    @media screen and (max-width: 640px) {
      width: 100%;
      height: 54px;
      border-radius: 1px;
      border: 2px solid $red-200;
      overflow: visible;
      margin-right: 50px;
    }
    &:hover {
      flex-grow: 2;

      .stat {
        background-color: $red-400;
      }
    }
  }
}

.portfolio {

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    width: 100%;
    min-height: 300px;
    transition: $transition-15ms;
    padding: $standart-box-padding;
    overflow: hidden;

    @media screen and (max-width: 450px) {
      padding: $standart-box-padding 0;
    }
  }

  &-item {
    width: calc(33.3% - 24px);
    margin: 12px;
    position: relative;
    box-sizing: border-box;
    transition: $transition-15ms;
    border-radius: $radius-dp-1;
    overflow: hidden;
    &:before, &:after {
      content: '';
      position: absolute;
      transform-origin: center;
      top: 16px;
      bottom: 16px;
      left: 16px;
      right: 16px;
      margin: auto;
      box-sizing: border-box;
    }
    &:before {
      border-top: 2px solid $red;
      border-bottom: 2px solid $red;
      transform: scale3d(0, 1, 1);
    }
    &:after {
      border-left: 2px solid $red;
      border-right: 2px solid $red;
      transform: scale3d(1, 0, 1);
    }
    &:hover {
      box-shadow: $shadow-dp4;
      background-color: $white;
      border-color: transparent;
      transform: scale(1.05);
      z-index: 2;
      border-radius: $radius-dp-1;
      &:before {
        transform: scale3d(1, 1, 1);
        transition: transform 0.5s, -webkit-transform 0.5s;
      }
      &:after {
        transform: scale3d(1, 1, 1);
        transition: transform 0.5s, -webkit-transform 0.5s;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }

    @media screen and (max-width: 640px) {
      width: calc(50% - 24px);
    }
    &.white-border {
      border-color: inherit;
      &:before, &:after {
        border-color: $white !important;
      }
    }

    &.gold-border {
      border-color: inherit;
      &:before, &:after {
        border-color: $gold !important;
      }
    }
    &.blue-border {
      border-color: inherit;
      &:before, &:after {
        border-color: $blue !important;
      }
    }
    &.burgundi-border {
      border-color: inherit;
      &:before, &:after {
        border-color: $burgundi !important;
      }
    }
  }
}
.filter-nav {
  margin-bottom: $big-step;
  padding-bottom: $standart-box-padding;
  text-align: center;
}
.filter {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: $standart-box-padding 0;
  vertical-align: top;
  @media screen and (max-width: 450px) {
    padding: 14px 0;
  }

  li {
    display: inline-block;
    @media screen and (max-width: 450px) {
      display: block;
      margin: 8px 0
    }
  }
  a {
    color: $blue;
    box-shadow: none;
    background-color: transparent;
    padding: 12px 24px;
    font-size: .925rem;
    text-transform: uppercase;
    @extend %regular;
    transition: $transition-15ms;
    cursor: pointer;

    &:hover {
      background-color: $blue-200;
      border-radius: $radius-dp-1;
      box-shadow: $shadow-dp3;
      color: $white;
    }
    &:active {
      box-shadow: $shadow-dp1;
    }
    @media screen and (max-width: 450px) {
      display: block;
      margin: 8px 0
    }
  }

  a.active  {
    background-color: $blue-200;
    border-radius: $radius-dp-1;
    color: $white;
    box-shadow: $shadow-dp1;
  }
}
.jumbotron {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 640px;
  background-color: $blue;
  overflow: hidden;

  .circle {
    &-x1, &-x2, &-x3, &-x4, &-x5, &-x6 {
      position: absolute;
      border-radius: 100%;
      animation: circle-scale 3s ease-in-out infinite alternate;
      animation-timing-function: cubic-bezier(.6, 0, .4, 1);
      animation-delay: 0s;
      margin: auto;
      box-shadow: $shadow-dp1;
    }
    &-x1 {
      width: 300px;
      height: 300px;
      top: 170px;
      left: -150px;
      background-color: $white;
      opacity: .45;
      animation-delay: 0s;
    }
    &-x2 {
      width: 600px;
      height: 600px;
      top: 20px;
      left: -300px;
      background-color: $white;
      opacity: .4;
      animation-delay: .3s;
    }
    &-x3 {
      width: 900px;
      height: 900px;
      top: -130px;
      left: -450px;
      background-color: $white;
      opacity: .3;
      animation-delay: .6s;
    }
    &-x4 {
      width: 1200px;
      height: 1200px;
      top: -280px;
      left: -600px;
      background-color: $white;
      opacity: .2;
      animation-delay: .9s;
    }
    &-x5 {
      width: 1500px;
      height: 1500px;
      top: -430px;
      left: -750px;
      background-color: $white;
      opacity: .1;
      animation-delay: 1.2s;
    }
    &-x6 {
      width: 1800px;
      height: 1800px;
      top: -580px;
      left: -900px;
      background-color: $white;
      opacity: .05;
      animation-delay: 1.3s;
    }
  }
}

.avatar {
  display: block;
  margin: 0 auto;
  padding: 4px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
  background-color: $white;
  border: 1px solid $gr100;
}

.blog-slider {
  position: absolute !important;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  height: 450px;
  padding: 32px;
  cursor: grab;
  @media screen and (max-width: 600px) {
    height: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,0.32);
  }

  .blockquote-text {
    background-color: transparent;
    padding: 0;
    text-align: center;

    h1 {
      text-align: center;
    }
    p {
      color: $white;
      margin-top: 16px;
    }
  }
}

.resume-wrap {
  background-color: $white;
  padding: $standart-box-padding;
  box-shadow: $shadow-dp1;
  border-radius: $radius-dp-1;
  @media screen and (max-width: 640px) {
    padding: 24px 12px;
  }
}

.accordion {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;

  &-ctrl {
    display: block;
    position: relative;
    width: 100%;
    background-color: $white;
    cursor: pointer;
    border-radius: 0;
    outline: none;
    padding: $standart-box-padding;
    margin: 0;
    text-align: left;
    text-transform: none;
    color: $blue;
    border-bottom: 1px solid $gr400;
    box-shadow: none;

    &:hover {
      background-color: $gr200;
      color: $blue;
    }

    i {
      margin-right: 8px;
    }

    .plus {
      width: 18px;
      height: 18px;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 32px;
      margin: auto;

      .line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $blue;
        transition: $transition-15ms;

        &:first-child {
          transform: translateY(8px) rotate(0deg);
        }
        &:last-child {
          transform: translateY(6px) rotate(90deg);
        }
      }
    }

    &.active {
      .line {
        &:first-child {
          transform: translateY(8px) rotate(45deg);
        }
        &:last-child {
          transform: translateY(6px) rotate(135deg);
        }
      }
    }
  }
  &-panel {
    display: none;
    padding: $standart-box-padding;

    .row {
      padding-bottom: 48px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    h5 {
      margin-top: 0;
    }
  }
}

.map {
  width: 100%;
  height: 400px;
}
.contacts.container {
  @media screen and (max-width: 769px) {
    padding: 0;
  }
}
.form {
  &-wrap {
    display: block;
    width: 100%;
    padding: 64px;
    margin-bottom: 100px;
    background-color: $white;
    box-shadow: $shadow-dp1;
    border-radius: $radius-dp-1;
    margin-top: -64px;
    transition: $transition-15ms;
    &:hover, &:focus, &:active {
      box-shadow: $shadow-dp4;
    }

    .button {
      margin: 12px 0 0 0;
    }

    .button.disabled {
      pointer-events: none;
      opacity: .6;
      background-color: $gr600;
    }

    @media screen and (max-width: 769px) {
      margin-top: 0;
      margin-bottom: 0;
    }
    @media screen and (max-width: 450px) {
      padding: 20px;
    }
  }
  &-group {
    position: relative;
    margin: 24px 0 0 0;
    padding-bottom: 7px;

    textarea {
      min-height: 100px;
      resize: none;
      font-size: 1rem;
      font-family: "RalewayRegular", Helvetica, sans-serif;
    }
  }
  &-control {
    display: block;
    width: 100%;
    height: 36px;
    font-size: 1rem;
    line-height: 1.4;
    padding: 7px 0;
    margin-bottom: 7px;
    border: none;
    float: none;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    color: $gr700;
    &.not-error {
      /*background-color: green;*/
    }
    &.error {
      /*background-color: red;*/
    }
  }
  &-control-label {
    position: absolute;
    top: -7px;
    margin-top: 14px;
    pointer-events: none;
    font-size: 1rem;
    line-height: 1.4;
    transition: $transition-15ms;
    color: $gr700;
  }
}


.tree {

  &-top {
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    background-color: $red;
    color: $white;
    width: 300px;
    padding: $standart-box-padding;
    box-shadow: $shadow-dp1;
    border-radius: $radius-dp-1;
    text-transform: uppercase;
    font-family: "RalewayRegular", Helvetica, sans-serif;
    font-weight: 200;
    margin-bottom: 32px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -32px;
      margin: auto;
      width: 1px;
      height: 32px;
      background-color: $red;
    }
  }
}

.flip-card {
  width: 100%;
  box-shadow: $shadow-dp1;
  border-radius: $radius-dp-2;
  overflow: hidden;

  &-header {
    width: 100%;
    color: white;
    background-color: $red;
    margin: 0 auto;
    font-family: "RalewayRegular", Helvetica, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding: 16px;
    font-size: 1.265rem;
    margin-bottom: 16px;
  }
  &-content {
    width: 100%;
    min-height: 50px;
    padding: 0 16px 16px 16px;
  }
}

.focused {
  .form-control {
    outline: none;
    background-image: linear-gradient($blue, $blue), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.15s;
  }
  .form-control-label {
    top: -26px;
    left: 0;
    font-size: .725rem;
    line-height: 1;
    color: $blue;
  }
}

.has-error .form-control {
  background-image: linear-gradient($red, $red), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  transition-duration: 0.15s;
}
.has-error .form-control-label{
  color: $red;
}
.has-succsess .form-control {
  background-image: linear-gradient($green, $green), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  transition-duration: 0.15s;
}
.has-succsess .form-control-label {
  color: $green;
}

.address {
  &-wrap {
    display: block;
    width: 100%;
    padding: 32px 16px;
    margin-bottom: 100px;
    @media screen and (max-width: 450px) {
      text-align: center;
    }

    address {
      dt {
        @extend %semibold;
        color: $heading-text-color;
        margin: 1em auto 0.75em auto;
        max-width: $paragraph-width;
        font-weight: normal;
        font-size: 1.525rem;
      }
      dd {
        @extend %service-text;
      }
    }
  }
}

.preloader {
  display: block;
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, .99);
  z-index: 100;

  .spinner {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    width: 50px; height: 50px;
    background: $red;
    border-radius: 100%;
    margin: auto;
    animation: blink 1s infinite ease-in-out;
    animation-direction: alternate;
  }

}
@keyframes circle-scale {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes blink {
  from {opacity: 1;}
  50% {opacity: .5;}
  to {opacity: 1}
}
.nopadding {
  padding: 0;
}