.divider {
  width: 100%;
  max-width: 100%;
  box-shadow: $shadow-dp1;
  background-color: $white;
  padding: $standart-box-padding;
  color: $base-black;
  border-radius: $radius-dp-1;
  transition: $transition-15ms;
  margin-bottom: 30px;
  text-align: center;
  &:hover {
    box-shadow: $shadow-dp3;
  }
  h6 {
    color: $base-black;
  }
  p {
    font-size: .85rem;
  }
}

.stats {

  &-container {
    width: 100%;
    margin-top: 16px;
    background-color: $white;
    padding: $standart-box-padding;
    padding-bottom: 0;

    .row {
      margin: 0 auto;
      max-width: 1200px;
      height: 480px;
      align-items: flex-end;
      overflow: visible;
      flex-grow: 1;
    }

    .stat {
      display: flex;
      flex-grow: 1;
      position: relative;
      background-color: $red-200;
      box-shadow: $shadow-dp2;
      border-radius: $radius-dp-1 $radius-dp-1 0 0;
      z-index: 2;
      transition: all ease .25s;
      &:hover {
        box-shadow: $shadow-dp4;
        z-index: 4;
      }

      &-count {
        position: absolute;
        bottom: -58px;
        left: 0; right: 0;
        margin: auto;
        background-color: white;
        width: 100%;
        height: 60px;
        border-radius: $radius-dp-1;
        z-index: 1;
        box-shadow: $shadow-dp1;
        @extend %regular;
        color: $red;
        font-size: 1.6rem;
      }

      &-name {
        position: absolute;
        width: 100%;
        height: 35px;
        bottom: 0;
        left: 0;
        padding: 8px 0;
        text-align: center;
        span {
          text-transform: uppercase;
          font-size: 1.2rem;
          color: $white;
          @extend %light;
        }
      }
      &-img {
        width: 80px;
        height: auto;
        min-height: 50px;

        svg {
          fill: $gr100 !important;
        }
        .gr100-fill {
          fill: $gr100 !important;
        }
        .gr200-fill {
          fill: $gr200 !important;
        }
        .gr300-fill {
          fill: $gr300 !important;
        }
        .gr400-fill {
          fill: $gr400 !important;
        }
        .gr900-fill {
          fill: $gr900 !important;
        }
        .red-fill {
          fill: $red !important;
        }
        .transparent-fill {
          fill: transparent !important;
        }
      }
    }
  }

  &-box {
    position: relative;
    height: 100%;
    align-items: flex-end;
    flex-grow: 1;
    transition: $transition-15ms;
    &:hover {
      flex-grow: 2;

      .stat {
        background-color: $red-400;
      }
    }
  }
}

.portfolio {

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    width: 100%;
    min-height: 300px;
    background-color: $gr100;
    transition: $transition-15ms;
    padding: $standart-box-padding;
    overflow: hidden;
  }

  &-item {
    width: 33.3%;
    border-right: 1px solid #CCCCCC;
    position: relative;
    box-sizing: border-box;
    transition: $transition-15ms;
    &:nth-child(3n) {
      border-right: none;
    }
    &:nth-child(-n+3) {
      border-bottom: 1px solid #CCCCCC;
    }
    &:before, &:after {
      content: '';
      position: absolute;
      transform-origin: center;
      top: 16px; bottom: 16px;
      left: 16px; right: 16px;
      margin: auto;
      box-sizing: border-box;
    }
    &:before {
      border-top: 2px solid $red;
      border-bottom: 2px solid $red;
      transform: scale3d(0, 1, 1);
    }
    &:after {
      border-left: 2px solid $red;
      border-right: 2px solid $red;
      transform: scale3d(1,0,1);
    }
    &:hover {
      box-shadow: $shadow-dp4;
      background-color: $white;
      border-color: transparent;
      transform: scale(1.05);
      z-index: 2;
      border-radius: $radius-dp-1;
      &:before {
        transform: scale3d(1, 1, 1);
        transition: transform 0.5s, -webkit-transform 0.5s;
      }
      &:after {
        transform: scale3d(1, 1, 1);
        transition: transform 0.5s, -webkit-transform 0.5s;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
}

.jumbotron {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 640px;
  background-color: $blue;
  overflow: hidden;

  .circle {
    &-x1, &-x2, &-x3, &-x4, &-x5 {
      position: absolute;
      border-radius: 100%;
      animation: circle-scale 3s ease-in-out infinite alternate;
      animation-timing-function: cubic-bezier(.6, 0, .4, 1);
      animation-delay: 0s;
      margin: auto;
      box-shadow: $shadow-dp1;
    }
    &-x1 {
      width: 300px; height: 300px;
      top: 170px; left: -150px;
      background-color: $white;
      opacity: .4;
      animation-delay: 0s;
    }
    &-x2 {
      width: 600px; height: 600px;
      top: 20px; left: -300px;
      background-color: $white;
      opacity: .3;
      animation-delay: .3s;
    }
    &-x3 {
      width: 900px; height: 900px;
      top: -130px; left: -450px;
      background-color: $white;
      opacity: .2;
      animation-delay: .6s;
    }
    &-x4 {
      width: 1200px; height: 1200px;
      top: -280px; left: -600px;
      background-color: $white;
      opacity: .1;
      animation-delay: .9s;
    }
    &-x5 {
      width: 1500px; height: 1500px;
      top: -430px; left: -750px;
      background-color: $white;
      opacity: .05;
      animation-delay: 1.2s;
    }
  }
}
.avatar {
  display: block;
  margin: 0 auto;
  padding: 4px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
  background-color: $white;
  border: 1px solid $gr100;
}
.blog-slider {
  position: absolute !important;
  right: 0; left: 0;
  top: 0; bottom: 0;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  height: 450px;
  padding: 32px;
  cursor: grab;

  .blockquote-text {
    background-color: transparent;
    padding: 0;
    text-align: center;

    h1 {
      text-align: center;
    }
    p {
      color: $white;
      margin-top: 16px;
    }
  }
}

@keyframes circle-scale {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}

.nopadding {
  padding: 0;
}